@forward "variables";
@forward "reset";

.container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.red-fill {
  filter: brightness(0) saturate(100%) invert(17%) sepia(92%) saturate(6020%) hue-rotate(10deg) brightness(101%) contrast(130%);
}

.black-fill {
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(303deg) brightness(100%) contrast(102%);
}

.white-fill {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(318deg) brightness(104%) contrast(104%);
}

.green-fill {
  filter: brightness(0) saturate(100%) invert(50%) sepia(13%) saturate(1880%) hue-rotate(93deg) brightness(96%) contrast(78%);
}

.orange-fill {
  filter: brightness(0) saturate(100%) invert(65%) sepia(34%) saturate(5073%) hue-rotate(331deg) brightness(104%) contrast(98%);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}